.main-container {
    -fx-background-color: #f4f4f4; /* Light gray background */
    -fx-padding: 20px;
    -fx-alignment: center;
    -fx-spacing: 20px;
}

.input-field {
    -fx-pref-width: 400px;
    -fx-padding: 10px;
    -fx-background-color: #ffffff;
    -fx-border-radius: 5px;
    -fx-border-color: #3498db;
    -fx-border-width: 2px;
    -fx-font-size: 14px;
    -fx-font-family: "Arial, sans-serif";
}

.combo-box {
    -fx-pref-width: 400px;
    -fx-padding: 10px;
    -fx-background-color: #ffffff;
    -fx-border-radius: 5px;
    -fx-border-color: #3498db;
    -fx-border-width: 2px;
    -fx-font-size: 14px;
    -fx-font-family: "Arial, sans-serif";
}

.start-button {
    -fx-pref-width: 150px;
    -fx-padding: 12px 20px;
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 2);
}

.visualization-pane {
    -fx-background-color: #ffffff;
    -fx-border-radius: 10px;
    -fx-border-color: #3498db;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 5, 0.0, 0, 2);
}

.start-button:hover {
    -fx-background-color: #2980b9;
    -fx-cursor: hand;
}


.undo-button{
    -fx-pref-width: 150px;
    -fx-padding: 8px 15px;
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-radius: 35px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 2);
}

.undo-button:hover {
    -fx-background-color: #2980b9;
    -fx-cursor: hand;
}